body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background: repeating-conic-gradient(from 45deg at 10% 50%, rgb(1, 44, 54) 0deg 10deg, rgb(58, 52, 34) 10deg 20deg, rgb(54, 53, 53) 20deg 30deg);
    color: bisque;
    height: 100vh;
    font-size: 20px;
}

#contenido{
    padding: 60px;
    margin: 0 auto;
}

.container--principal{
    display: flex;
    /* margin: 0 auto; */
    flex-direction: column;
}

.container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh; 
    /* max-width: 960px; */
    align-content: center;
}

.container-formulario{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

@media (min-width: 800px) {
    .container-formulario{
        flex-direction: row;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: 50%; */
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    /* width: 1080px; */
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.formulario--title{
    font-size: 20px;
    font-weight: bold;
}
/* .formulario textarea{
    width: 300px;

    transition: border 0.5s;
} */

.formulario input{
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    transition: border 0.5s;
}

.formulario input:focus{
    /* border: 2px solid red; */
}

.formulario textarea:focus{
    border: 2px solid red;
}



.input{
    /* position: relative; */
    cursor: pointer;
    width: 30%;
    display: flex;
    margin: 0 auto;
    background: none;
    box-shadow: 0 0 5px beige;
    color: aliceblue;
}

.input:hover{
    /* position: absolute; */
    background-color: antiquewhite;
    color: black;
    transition: 0.5s ease-in-out;
}


.error{
    background-color: red;
    text-align: center;
    padding: 10px;
    text-decoration: uppecase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.borrar-tweet,
.borrar-tweet:hover{
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;

}

.mis-tweets{
    /* display: flex; */
    list-style: none;
}

.mis-tweets li{
    /* background-color: cadetblue; */
    /* border: 1px solid black; */
    padding: 10px;
    box-shadow: 0 0 5px rgb(163, 160, 153);
    border-radius: 10px;
    
}

li .borrar-tweet{
    /* padding: 5px; */
    background-color: rgb(255, 255, 255);
}

#lista-tweets li{
    display: flex;
    justify-content: space-between;
}

li .listas{
    display: flex;
    padding: 10px;
}

.textarea{
    font-size: 20px;
}


/* 
.textarea{
    min-width: 500px;
    width: 80%;
}
.input{
    width: 80%;
} */

.title {
    position: relative;
    top: -20px;
}

div .effect{
    position: absolute;
    /* top: 30px; */
    /* background: linear-gradient(100deg, rgb(45, 120, 154), rgb(224, 234, 231));
    width: 200px;
    height: 25px; */
    animation: skew 3s infinite;
    transform: skew(5deg);
    animation-direction: alternate;
    /* padding: 30px; */
    /* border-radius: 20px;
    box-shadow: 0 0 15px; */
}

@keyframes skew {
    0%{
        transform: skew(10deg, 10deg);
    }
    100%{
        transform: skew(-10deg, -10deg);
    }
}

